APP_CONFIG__DB__URL=postgresql+asyncpg://user:password@localhost:5432/database
APP_CONFIG__DB__ECHO=0
APP_CONFIG__AUTH__VERIFICATION_TOKEN_SECRET=asdwd
APP_CONFIG__AUTH__RESET_PASSWORD_TOKEN_SECRET=asdwd